.footer {
  display: flex;
  flex-direction: column;
  padding: 4rem 1rem 0;
  flex-wrap: wrap;
}

.footer__info {
  display: flex;
  flex-wrap: wrap;
}

.footer__info__logo {
  padding: 0;
  gap: 1rem;
}

.footer__info__links {
  gap: 2rem;
  flex-direction: row;
  margin-left: 2.5rem;
}

.footer__info__links__listas {
  gap: 1.2rem;
}

.footer__legal {
  align-items: center;
  padding-top: 2rem;
  border-top: 1px solid var(--bg-300);
}

@media screen and (max-width: 768px) {
  .footer__info__links {
    margin: 1rem 0;
  }
}
