.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
}

.header__NavLogo{
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .header, .header__NavLogo {
    flex-direction: column;
    margin-bottom: 1rem;
  }
} 