.footer {
  display: flex;
  flex-direction: column;
  padding: 4rem 2rem;
  flex-wrap: wrap;
}

.footer__info {
  display: flex;
  flex-wrap: wrap;
}

.footer__info__logo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-wrap: wrap;
}

.footer__info__links {
 display: flex;
 gap: 2rem;
}

.footer__legal {
  display: flex;
  align-items: center;
  padding-top: 2rem;
  flex-wrap: wrap;
  border-top: 1px solid #ccc ;
}