.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
}

.header__NavLogo{
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.header__nav {
  ul{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;}
}