.caracteristica, .testimonio, .beneficios {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  background-color: var(--bg-100);
}

.caracteristica--home {
  margin-bottom: 6rem;
}

.cta__section {
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
}

.cta__section__imagen {
  display: flex;
  gap: 2rem;
  max-width: 40%;
  flex-wrap: wrap;
}

.cta__section__img {
  padding: 2rem;
  width: 22rem;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


