:root {
  --primary-100: #2e86ab;
  --primary-200: #67b6dd;
  --primary-300: #d0ffff;
  --accent-100: #f9a828;
  --accent-200: #8b4d00;
  --text-100: #333333;
  --text-200: #5c5c5c;
  --bg-100: #f4f4f4;
  --bg-200: #eaeaea;
  --bg-300: #c1c1c1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  text-wrap: pretty;
}

html {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: var(--bg-200);
}
