.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__title {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.hero__title__btn {
  display: flex;
  gap: 1rem;
}

.hero__imagen {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    height: 34.88rem;
  }
}

.caracteristica, .beneficios {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
.beneficios {
  flex-direction: row;
}

.caracteristica__card, .beneficios__map {
  display: flex;
  gap: 1rem;
  padding: 2rem 0;
  .card {
    background-color: var(--bg-100);
    padding: 1rem;
    border-radius: 1rem;
  }
}
.beneficios__map {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.testimonio__cards {
  display: flex;
  gap: 2rem;
}

.cta {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
