.btn {
  padding: 1rem 2.5rem;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: var(--accent-100);
  color: var(--bg-100);
  border: none;
  transition-duration: all 0.3s;
}

.btn:hover {
  font-weight: bold;
}

.btn:active {
  box-shadow: 0 0 0.5rem var(--text-100);
}

.btn--demo {
  background-color: var(--accent-200);
}

.card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card__title {
  flex-direction: row;
  align-items: center;
}

.card__title__span {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--text-200);
}

.card__description {
  max-width: 300px;
}

.card--testimonio {
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: var(--bg-200);
  .card__title__information {
    opacity: 0.4;
  }
}
